---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
Language: Cpp
BasedOnStyle: LLVM
Standard: Cpp11
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
SortIncludes: false
AccessModifierOffset: -4
Cpp11BracedListStyle: true
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: true
---
